<VirtualHost 127.0.0.1:8080>
    ServerName {{ ansible_facts['nodename'] }}
    ServerAlias www.{{ ansible_facts['nodename'] }}
    DocumentRoot /var/www/{{ ansible_facts['nodename'] }}
    CustomLog /var/log/httpd/{{ ansible_facts['nodename'] }}.log combined
    ErrorLog /var/log/httpd/{{ ansible_facts['nodename'] }}.error.log
    <Directory /var/www/{{ ansible_facts['nodename'] }}>
        AllowOverride All
        Options +Includes -Indexes +ExecCGI
    </Directory>
</VirtualHost>