HG_DIR=/opt/push-server
CFG_DIR=/etc/push-server
VAR_DIR=/var/log/push-server
BASE_SUB=801            # base for port number where sub services lives
BASE_PUB=901            # base for port number where pub services lives
TMPL_SUB=push-server-sub-__PORT__.json
TMPL_PUB=push-server-pub-__PORT__.json
USER=apache
ID_SUB=1
ID_PUB=1
IP_LIST='"127.0.0.1", "10.0.0.0/24"'
PID_SUB=push-server-sub-__PORT__.pid
PID_PUB=push-server-pub-__PORT__.pid
WS_PORT=1337
PUBPATH=/bitrix/pub/
SUBPATH=/bitrix/sub/
SUBWSPATH=/bitrix/subws/
RESTPATH=/bitrix/rest/
WS_HOST={{ ansible_facts['nodename'] }}
SECURITY_KEY=XLvTWBqXoljM7jQ3IJ3hRk2528RswYePcpdDT2hrV7Uzj5Ugnhofw14oX01HMu32ebnMVfEztQQwEK3nFeJC01IZxDi1T11ioDBWgNKMNO8FFZAiQ6KfvQNgzlY0kq4Q
